body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.label {
  font-family: Arial;
  font-weight: lighter;
  font-size: 16;
  user-select: none;
}

.cell {
  fill: #fff;
  stroke: #000;
}

.water {
  fill: #3498db;
}

.ship {
  fill: #e74c3c;
  stroke: #c0392b;
  stroke-width: 2;
}

.uncertain {
  fill: #95a5a6;
}

.selected {
  fill: #ffcc00; /* Farbe für ausgewählte Zellen */
}
